.bootstrap-tagsinput
    border 1px solid #dee2e6
    width 100%
    height calc(1.5em + 1.25rem + 2px)
    padding 0 .35rem
    font-weight 400
    display flex
    align-items center
    font-size: .875rem

.responseProperty,
.responseOwner,
.responseCard
    display none
    width 100%
    &.show
        display block
    & tr
        cursor pointer

.inputWrapper
    position relative
    & .responseCard
        position absolute
        left 5px
        top 100%
        z-index 9
.Child
    display none
    &.show
        display block

.spinner-border
    display: inline-block
    width: 2rem
    height: 2rem
    vertical-align: text-bottom
    border: .25em solid currentColor
    border-right-color: transparent
    border-radius: 50%
    animation: b .75s linear infinite

.sr-only
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;

.avatar.rounded-circle
    overflow: hidden

.dataTables_filter
    & label
        font-size 0
        &::before
            content 'Pesquisar'
            font-size 16px

@keyframes b{to{transform:rotate(1turn)}}